[submodule "vim/bin/update-bundles"]
	path = vim/bin/update-bundles
	url = git://github.com/bronson/vim-update-bundles.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
